body {
    margin: 0;
    padding: 0;
    width:100%;
    height: 100vh;
}





/*firstSection 비디오 백그라운드*/
.firstSection_bg_video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    overflow: hidden;
}

.bg_video_content {
    height: 100%;
    width: 100%;
    object-fit: cover; 

}





/* firstSection-top*/
.firstSection_top {
    height: 40px;
    width: 100%;
    background-color: #003956;    
    display: flex;
    justify-content: space-between;
 }

 /* 웹메일, 로그인, 포털 a태그들 */
.top_link {
    margin-left: 20px;
    display: flex;
    align-items: center;
}
.top_link a {
    text-decoration-line: none;
    color: white;
    height: 40px;
    width: 120px;
    text-align: center;
    line-height: 40px;
 }
 /*top a태그들 배경 컬러*/
.color_295CA4 {
    background-color: #295CA4;
 }
.color_C71514 {
    background-color: #C71514;
}
.color_676767 {
    background-color: #676767;
}

/* firstSection-top __ language */
.global_lang {
    margin-right: 20px;
}
#languageBtn {
    padding:0;
    color: white;
    background-color: #003956;
    border: 0;
    height: 40px;
    /*버튼 내부 - 아이콘 KOR 화살표 flex*/
    display: flex;
    align-items: center;
    /*마우스 커서 올리면 포인터 됨*/
    cursor: pointer;
}
#kor {
    margin: 0px 17px 0px 10px; 
}
/*
.language_list {
    background-color: #003956;
    border: 1px solid #072737;

    text-align: center;
}*/
.language_list {
    /*nav 요소에 list가 가려지지 않도록 relative, z인덱스 설정*/
    position: relative;
    z-index: 2;

    text-align: center;
    overflow: hidden;
    max-height: 0;    
    transition: 0s;
}
.language_list.show {
    
    background-color: #003956;
    border: 1px solid #072737;
    transition: 0.4s;
    max-height: 200px; /* 적당한 최대 높이 값으로 설정 */
}
.language_list ul {
    margin: 0;
    padding: 0;
}
.language_list ul li{
    list-style: none;
    border-bottom: 1px solid #072737;   
    padding: 5px 0px;     
}
.language_list ul li:hover {
    background-color: #005B89;
}
.language_list ul li a{
    text-decoration-line: none;
    color: white;

}





/*firstSection nav*/
.firstSection_nav {    
    /*nav 요소가 list를 가리지 않도록 relative, z인덱스 설정*/
    position: relative;
    z-index: 1;

    height: 110px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    transition: 0.4s; 
    
    /*로고 및 nav내용 flex*/
    display: flex;
    justify-content: space-between;
}
.firstSection_nav:hover {
    background-color: white;
    color: black;
}
.logo {
    margin-left: 20px;
}
.nav_contents {
    margin-right: 20px;
}