.titillium {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.Noto {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* a태그 기본 설정 */

a:link{
  color: #A5A9AC;
  text-decoration: none;
}

a:visited{
  color: #A5A9AC;
  text-decoration: none;
}

a:hover{
  color: #A5A9AC;
  text-decoration: none;
}

.button:focus {
  background: #c71514;
  width: 60px;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  transform: scaleY(1.3);
  transform-origin: bottom center;
  font-size: 20px;
  color: white;
  overflow: initial;
}

.scheduletemplate:hover {
  background-color: #F7F7F7;
  transition: .4s;
}


.scheduletemplateC:hover {
  color: #C7161C;
  font-weight: 600;
}

.truncate {
  display: inline-block;
  text-overflow: ellipsis; /*텍스가 div 넘치려고 할 때 ∙∙∙ 처리*/
  white-space: nowrap; /*텍스트가 길어서 부모 요소 안의 가로폭을 넘어가더라도 자동으로 줄바꿈 처리 X*/
}

/*SecondSection 오른쪽 부분 위쪽*/
.service_title{
  display: block;
  padding-top: 6px;
  text-align: center;
  font-size: 15px;
  text-transform:uppercase;
  color: #666;
}

.service_title:after {
  display:block;
  content: '';
  border-bottom: solid 1px #A1A5A8;
  transform: scaleX(0);  
  transition: transform 200ms ease-in-out;
}

.service_title_a:hover .service_title:after  { 
  transform: scaleX(1);
}

.service_title:after {
  transform-origin: 0% 90%;
}

.satellites {
  border: 4px solid black;
  animation: rotate-axis 10s linear infinite;
}

