.guide_button a img {
  transition: transform 0.6s;
}

.guide_button a:hover img {
  transform: rotateY(360deg);
}

.social-button {
  transition: background-position 0.4s ease-in-out;
}

.social-button:hover {
  background-position: bottom;
  transition: background-position 0.4s ease-in-out;
}

.video_card {
  transition: transform 0.3s;
}

.video_arrow {
  opacity: 0;
  transition:
    opacity 0.3s,
    transform 0.3s;
}

.video_card:hover .video_arrow {
  transform: translate(17%, 0);
  opacity: 1;
}

.footer_info {
  position: relative;
}
.footer_info::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: rgb(118, 118, 118);
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: none;
}
.footer_info:hover::after {
  transform: scaleX(1);
  transition: transform 0.3s ease-in;
}
